<div class = "team-signup-page">
  <h1>Team Sign Up Page</h1>

  <%= form_for @team, html: { multipart: true } do |f| %>
    
    <div class = "field">
      <%= f.text_field :team_name, autofocus: true, placeholder: "Team Name" %>
    </div>

    <div class = "file-field">
      <%= f.file_field :avatar1 %>
    </div>

    <div class = "field">
      <%= f.text_field :player1_name, autofocus: true, placeholder: "Player 1 Name" %>
    </div>

    <div class = "file-field">
      <%= f.file_field :avatar2 %>
    </div>

    <div class = "field">
      <%= f.text_field :player2_name, autofocus: true, placeholder: "Player 2 Name" %>
    </div>

    <div class = "actions">
      <%= f.submit %>
    </div>

  <% end %>
</div>