<div class = "ref-scorekeeping-page">
  <%= link_to "Back to All Games", users_path %>

  <div class = "ref-scorekeeping-page-scoreboard">
    <h1>Scoreboard: <%= @game.team_score %></h1>
  </div>

  <div class = "team-scorekeeping">
    <br>
    <h1><%= Team.find(TeamsGame.where(game_id: @game.id)[0].team_id).team_name %></h1>
    <p><%= Team.find(TeamsGame.where(game_id: @game.id)[0].team_id).player1_name %></p>
    <p><%= Team.find(TeamsGame.where(game_id: @game.id)[0].team_id).player2_name %></p>
    <br>
    <div class = "add-score">
      <h1><%= link_to "Point for #{Team.find(TeamsGame.where(game_id: @game.id)[0].team_id).team_name}", update_first_team_score_user_path(@game), method: :post %></h1>
    </div>
  </div>
  <br>

  <div class = "team-scorekeeping">
    <br>
    <h1><%= Team.find(TeamsGame.where(game_id: @game.id)[1].team_id).team_name %></h1>
    <p><%= Team.find(TeamsGame.where(game_id: @game.id)[1].team_id).player1_name %></p>
    <p><%= Team.find(TeamsGame.where(game_id: @game.id)[1].team_id).player2_name %></p>
    <br>
    <div class = "add-score">
      <h1><%= link_to "Point for #{Team.find(TeamsGame.where(game_id: @game.id)[1].team_id).team_name}", update_second_team_score_user_path(@game), method: :post %></h1>
    </div>
  </div>

</div>