  <div class="navbar">
    <ul class="nav_btns">
    	
      <% if current_user %>
        <%= link_to((ref_session_path("current")), method: :delete) do %>
          <li class="nav_btn" style = "width: 250px"><h2><%= "LOGOUT " + current_user.username.upcase %></h2></li>
        <% end %>

        <%= link_to(users_path) do %>
          <li class="nav_btn"><h2>ALL GAMES</h2></li>
        <% end %>

      <% else %>
        <%= link_to(new_ref_session_path) do %>
          <li class="nav_btn"><h2>REF LOGIN</h2></li>
        <% end %>

        <%= link_to(new_team_path) do %>
          <li class="nav_btn"><h2>TEAM SIGN UP</h2></li>
        <% end %>

      <% end %>

      <%= link_to(teams_path) do %>
        <li class="nav_btn"><h2>TEAMS</h2></li>
      <% end %>

      <%= link_to(tournament_path("pingpong")) do %>
        <li class="nav_btn"><h2>PING-PONG</h2></li>
      <% end %>

      <%= link_to(tournament_path("fuzzball")) do %>
        <li class="nav_btn"><h2>FUZZBALL</h2></li>
      <% end %>

      <%= link_to(costume_photos_path) do %>
        <li class="nav_btn"><h2>COSTUMES</h2></li>
      <% end %>

      <%= link_to(root_path) do %>
        <li class="nav_btn"><h2>HOME</h2></li>
      <% end %>

    </ul>
  </div>


  