<!DOCTYPE html>
<html>
<head>
  <title>ElTorneo</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
  <script src="http://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
  <script src="http://d3js.org/d3.v3.min.js"></script>
  <link href='http://fonts.googleapis.com/css?family=Roboto:100, 300' rel='stylesheet' type='text/css'>
</head>
<body>
  <style>

      .node circle {
        fill: #BCC0CD;
        stroke: #6C707D;
        stroke-width: 2px;
      }

      .node text { 
        font: 12px sans-serif; 
        font-size: 1rem;
      }

      .link {
        fill: none;
        stroke: #6C707D;
        stroke-width: 2px;
      }
  
    </style>
	<%= render "navbar" %>

  <div class = "flash">
    <% if flash[:notice] %>
      <p id = "notice", style="color:green"><%= flash[:notice] %></p>
    <% end %>
    <% if flash[:alert] %>
      <p id = "alert", style="color:red"><%= flash[:alert] %></p>
    <% end %>
  </div>
	<div class="wrapper">
  <%= yield %>
  </div>
</body>
</html>
