<!DOCTYPE html>
<html>
<head>
  <title>ElTorneo</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <link href='http://fonts.googleapis.com/css?family=Roboto:100, 300' rel='stylesheet' type='text/css'>
</head>
<body>
	<%= render "navbar" %>

  <div class = "flash">
    <% if flash[:notice] %>
      <p id = "notice", style="color:green"><%= flash[:notice] %></p>
    <% end %>
    <% if flash[:alert] %>
      <p id = "alert", style="color:red"><%= flash[:alert] %></p>
    <% end %>
  </div>
	<div class="wrapper">
  <%= yield %>
  </div>
</body>
</html>
